.nav{
    grid-area:  n;
    background-color: gray;
    padding : 20px
  }
  .item a{
    color: honeydew;
    text-decoration: none;
  }

  .item a.activeLink{
    color:gold
  }

  .friends{
    margin-top: 30%;
  }

  .numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}

.container{overflow:hidden;width:200px}
/* .box{white-space:nowrap} */
.box div{width:25px;display:inline-block;border:1px solid black}