.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
  }

  .messages{
    padding: 10px;
  }

  .messages .message{
    color : white;
  }

  .dialogsItems{
    padding: 10px;
    color:white;

  }

  .dialogsItems img {
    width: 20px;
  }

  .dialogsItems .active{
    color:gold;
  }

